<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Investimento</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center h-screen bg-gray-100">
    <div class="container mx-auto p-8 bg-white rounded-lg shadow-lg">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <h2 class="text-lg font-bold mb-4">Para começar, qual valor você gostaria de investir?</h2>
                <form>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700" for="valor_inicial">R$</label>
                        <input type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" id="valor_inicial" name="valor_inicial">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700" for="deposito_mensal">E por mês, quanto gostaria de depositar?</label>
                        <input type="number" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" id="deposito_mensal" name="deposito_mensal">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700" for="tempo_investimento">Quanto tempo deixaria seu dinheiro investido? (em meses) </label>
                        <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" type="text" id="tempo_investimento" name="tempo_investimento">
                    </div>
                    <button class="bg-indigo-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-indigo-600" type="submit">Calcular</button>
                </form>
            </div>
            <div>
                <h2 class="text-lg font-bold mb-4">Resultados:</h2>
                <p>Em 2 anos você teria</p>
                <p class="text-2xl font-semibold mb-4">R$ 14.519,57</p>
<p class="text-2xl font-semibold mb-4" >Valor Juros Acumulado: {{ valor_juros_acumulado }}</p>
                <p>Valor líquido com os impostos descontados</p>
                <ul class="list-disc list-inside">
                    <li>Total investido: R$ 12.450,00</li>
                    <li>Na poupança, seu dinheiro renderia: R$ 1.097,18</li>
                    <li>No Tesouro Selic, seu dinheiro renderia: R$ 2.069,57</li>
                </ul>
                <div class="flex items-center mt-4">
                    <p class="text-sm text-gray-600">Valores utilizados no simulador de investimentos (referentes à data de última atualização - esses valores podem alterar de acordo com o mercado):</p>
                </div>
                <ul class="list-disc list-inside ml-8">

<form method="post" action="{}">
    {% csrf_token %}
    <input type="text" name="valor_input">
    <button type="submit">Enviar</button>
</form>
                    <li>Data da última atualização: 02/02/2022</li>
                    <li>Porcentagem de rentabilidade da Poupança: 0,50% a.m.</li>
                    <li>Porcentagem de rentabilidade do Tesouro Selic: {{valor_taxa_selic_ao_ano}}% a.a. </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
